@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --color1: #084e23;
    --color2: #a79c04;
}

body {
    background: var(--color1);
    padding-top: 5em;
    color: #fff;

}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

nav {
    padding: 1em 0;
    background-color: var(--color1);
    color: #fff;
    font-size: 20px;
    background-image: url(5245e66902d3c343565b4b0aeabbec3e.jpg);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.692);
}

nav ul {
    display: flex;
    gap: 20px;
    font-weight: 600;
    justify-content: center;
}

nav a {
    color: #fff;
}

nav a:hover{
    opacity: 0.8;
}

.container {
    min-height: 90vh;
    margin: 0 5%;
    padding: 1em;
}

.item{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.377);
    margin: 1em 0;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
}

.item:nth-child(2){
    justify-content: end;
    text-align: right;
}

.item p{
    width: 30em;
}

.item img{
    width: 20em;
    height: 20em;
    border-radius: 50%;
    margin: 0 1em;
}

.focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.marco h2{
    padding: 1em;
}
